* {
    font-family: 'Schoolbell', cursive;
}

.br {
    flex-basis: 100%;
    height: 0;
}

hr {
    width: 90%;
    margin: auto auto 5% auto;
}

#idiot {
    margin: auto auto 0% auto;
}

#book-cover {
    margin: 1% 15%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/img/journal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#page-one, #page-two {
    width: 40%;
    padding-top: 1%;
    margin: 5% 0 5% 0;
}

#page-two {
    margin: 5% 0 5% 0;
}

h1 {
    text-align: left;
    margin-left: 5%;
}

#p1 {
    margin-left: 5%;
}

#p2 {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: left;
    gap: 15%;
    margin-left: 5%;
}

#column1, #column2, #ghost-column1, #ghost-column2, #ghost-column3, #evidence-column1 {
    display: flex;
    flex-direction: column;
    gap: 15%;
}

#evidence-column2 {
    display: flex;
    flex-direction: column;
}

#evidence {
    display: flex;
    justify-content: space-around;
}

#ghosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.select {
    border: none;
}